{
  "parser": "babel-eslint",
    "plugins": [
      "react"
    ],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "rules": {
      "react/jsx-no-undef": 2,
      "react/jsx-uses-react": 2,
      "react/jsx-uses-vars": 2,
      "strict": 0,
      "react/prop-types": 2,
      "react/prefer-es6-class": 2,
      "react/no-direct-mutation-state": 2,
      "object-curly-spacing": ["error", "always"],
      "func_names": "off",
      "space-before-function-paren": ["error", "never"],
      "max-len": ["error", 120, 4],
      "no-unused-vars": ["error", { "argsIgnorePattern": "next"  }],
      "prefer-const": 2,
      "linebreak-style": ["error", "unix"],
      "semi": ["error", "always"],
      "indent": ["error", 2, { "SwitchCase": 1  }]
    }
}